wsdl/FloorPlan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://realpage.com/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://realpage.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://realpage.com/webservices">
      <s:element name="List">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listCriteria" type="tns:ArrayOfListCriterion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListCriterion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListCriterion" nillable="true" type="tns:ListCriterion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListCriterion">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SingleValue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MinValue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MaxValue" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PmcID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="tns:ArrayOfFloorPlanObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFloorPlanObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FloorPlanObject" nillable="true" type="tns:FloorPlanObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FloorPlanObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FloorPlanID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorPlanCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorPlanName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorPlanNameMarketing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorPlanDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bedrooms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bathrooms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorPlanGroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FloorPlanGroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaximumOccupants" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExcludedFromOccupancy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GrossSquareFootage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentableSquareFootage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentMin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RentMax" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserAuthInfo" type="tns:UserAuthInfo" />
      <s:complexType name="UserAuthInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PmcID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalUser" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="CallBackAuthInfo" type="tns:CallBackAuthInfo" />
      <s:complexType name="CallBackAuthInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="App" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PmcID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EncryptionKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="WebServiceLogHeader" type="tns:WebServiceLogHeader" />
      <s:complexType name="WebServiceLogHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebServiceLogID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListUserAuthInfo">
    <wsdl:part name="UserAuthInfo" element="tns:UserAuthInfo" />
  </wsdl:message>
  <wsdl:message name="ListCallBackAuthInfo">
    <wsdl:part name="CallBackAuthInfo" element="tns:CallBackAuthInfo" />
  </wsdl:message>
  <wsdl:message name="ListWebServiceLogHeader">
    <wsdl:part name="WebServiceLogHeader" element="tns:WebServiceLogHeader" />
  </wsdl:message>
  <wsdl:portType name="FloorPlanSoap">
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">list FloorPlan information, including pricing</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FloorPlanSoap" type="tns:FloorPlanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap:operation soapAction="http://realpage.com/webservices/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListUserAuthInfo" part="UserAuthInfo" use="literal" />
        <soap:header message="tns:ListCallBackAuthInfo" part="CallBackAuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
        <soap:header message="tns:ListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FloorPlanSoap12" type="tns:FloorPlanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://realpage.com/webservices/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListUserAuthInfo" part="UserAuthInfo" use="literal" />
        <soap12:header message="tns:ListCallBackAuthInfo" part="CallBackAuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
        <soap12:header message="tns:ListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FloorPlan">
    <wsdl:port name="FloorPlanSoap" binding="tns:FloorPlanSoap">
      <soap:address location="http://villagegreencompanies.onesite.realpage.com/WebServices/CrossFire/AvailabilityAndPricing/FloorPlan.asmx" />
    </wsdl:port>
    <wsdl:port name="FloorPlanSoap12" binding="tns:FloorPlanSoap12">
      <soap12:address location="http://villagegreencompanies.onesite.realpage.com/WebServices/CrossFire/AvailabilityAndPricing/FloorPlan.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>