wsdl/PickList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://realpage.com/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://realpage.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://realpage.com/webservices">
      <s:element name="GetPickList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lType" type="tns:ListType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ListType">
        <s:restriction base="s:string">
          <s:enumeration value="LIST_CONTACT" />
          <s:enumeration value="LIST_FLOORPLANGROUP" />
          <s:enumeration value="LIST_JOB" />
          <s:enumeration value="LIST_LATEMETHOD" />
          <s:enumeration value="LIST_LEADSOURCE" />
          <s:enumeration value="LIST_LEASEREASON" />
          <s:enumeration value="LIST_LEASETERM" />
          <s:enumeration value="LIST_OPTIONS" />
          <s:enumeration value="LIST_PET" />
          <s:enumeration value="LIST_PETWEIGHT" />
          <s:enumeration value="LIST_PRICERANGE" />
          <s:enumeration value="LIST_RELATION" />
          <s:enumeration value="LIST_VEHICLE" />
          <s:enumeration value="LIST_BUILDING" />
          <s:enumeration value="LIST_FLOORPLANCODEANDNAME" />
          <s:enumeration value="LIST_FLOORPLANIDANDCODE" />
          <s:enumeration value="LIST_FLOORPLANIDANDNAME" />
          <s:enumeration value="LIST_PHONETYPE" />
          <s:enumeration value="LIST_TRAFFICSOURCE" />
          <s:enumeration value="LIST_UNIT" />
          <s:enumeration value="LIST_LEASINGAGENT" />
          <s:enumeration value="LIST_REASONMOVING" />
          <s:enumeration value="LIST_ACTIVITYLOSSREASON" />
          <s:enumeration value="LIST_ACTIVITYRESULTCODE" />
          <s:enumeration value="LIST_ACTIVITYTYPE" />
          <s:enumeration value="LIST_TASKPRIORITY" />
          <s:enumeration value="LIST_TASKCATEGORY" />
          <s:enumeration value="LIST_PROSPECTSTATUS" />
          <s:enumeration value="LIST_ALLFLOORPLAN" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetPickListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPickListResult" type="tns:PickListObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PickListObject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContentType" type="tns:ListType" />
          <s:element minOccurs="0" maxOccurs="1" name="Contents" type="tns:ArrayOfPicklistItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPicklistItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PicklistItem" nillable="true" type="tns:PicklistItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PicklistItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserAuthInfo" type="tns:UserAuthInfo" />
      <s:complexType name="UserAuthInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SiteID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PmcID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalUser" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="WebServiceLogHeader" type="tns:WebServiceLogHeader" />
      <s:complexType name="WebServiceLogHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WebServiceLogID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetPickLists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lTypes" type="tns:ArrayOfListType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListType" type="tns:ListType" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPickListsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPickListsResult" type="tns:ArrayOfPickListObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPickListObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PickListObject" nillable="true" type="tns:PickListObject" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPickListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPickList" />
  </wsdl:message>
  <wsdl:message name="GetPickListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPickListResponse" />
  </wsdl:message>
  <wsdl:message name="GetPickListUserAuthInfo">
    <wsdl:part name="UserAuthInfo" element="tns:UserAuthInfo" />
  </wsdl:message>
  <wsdl:message name="GetPickListWebServiceLogHeader">
    <wsdl:part name="WebServiceLogHeader" element="tns:WebServiceLogHeader" />
  </wsdl:message>
  <wsdl:message name="GetPickListsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPickLists" />
  </wsdl:message>
  <wsdl:message name="GetPickListsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPickListsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPickListsUserAuthInfo">
    <wsdl:part name="UserAuthInfo" element="tns:UserAuthInfo" />
  </wsdl:message>
  <wsdl:message name="GetPickListsWebServiceLogHeader">
    <wsdl:part name="WebServiceLogHeader" element="tns:WebServiceLogHeader" />
  </wsdl:message>
  <wsdl:portType name="PickListSoap">
    <wsdl:operation name="GetPickList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve a single Pick List, of the specified List Type.</wsdl:documentation>
      <wsdl:input message="tns:GetPickListSoapIn" />
      <wsdl:output message="tns:GetPickListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPickLists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtain a set of one or more Pick Lists, of the specified List Types.</wsdl:documentation>
      <wsdl:input message="tns:GetPickListsSoapIn" />
      <wsdl:output message="tns:GetPickListsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PickListSoap" type="tns:PickListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPickList">
      <soap:operation soapAction="http://realpage.com/webservices/GetPickList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPickListUserAuthInfo" part="UserAuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetPickListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
        <soap:header message="tns:GetPickListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPickLists">
      <soap:operation soapAction="http://realpage.com/webservices/GetPickLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPickListsUserAuthInfo" part="UserAuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetPickListsWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
        <soap:header message="tns:GetPickListsWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PickListSoap12" type="tns:PickListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPickList">
      <soap12:operation soapAction="http://realpage.com/webservices/GetPickList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPickListUserAuthInfo" part="UserAuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPickListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
        <soap12:header message="tns:GetPickListWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPickLists">
      <soap12:operation soapAction="http://realpage.com/webservices/GetPickLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPickListsUserAuthInfo" part="UserAuthInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPickListsWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
        <soap12:header message="tns:GetPickListsWebServiceLogHeader" part="WebServiceLogHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PickList">
    <wsdl:port name="PickListSoap" binding="tns:PickListSoap">
      <soap:address location="http://villagegreencompanies.onesite.realpage.com/WebServices/CrossFire/AvailabilityAndPricing/PickList.asmx" />
    </wsdl:port>
    <wsdl:port name="PickListSoap12" binding="tns:PickListSoap12">
      <soap12:address location="http://villagegreencompanies.onesite.realpage.com/WebServices/CrossFire/AvailabilityAndPricing/PickList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>